*{
    font-family: 'halyard-text',sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
#content{
    flex: 1 0 auto;
    position: relative;
}
footer{
    flex-shrink: 0;

}
nav.navbar{
    /* flex-wrap: nowrap; */
}

ul.navbar-nav{
    width: fit-content;
    text-align: right;
}
.navbar-toggler{
    padding: 0;
}
.navbar-toggler-icon:focus{
    outline: none;
}
.navbar-toggler:focus, .navbar-toggler:hover{
    outline: none;
}
ul a{
    color: #111;
}
ul a:hover{
    color: #497aa0;
}
.dropdown-toggle::after{
    display: none;
}

ul.navbar-nav li.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu {
    margin-top: 0px;
}
.dropdown-item:active{
    background: #ddd;
}
.dropdown-item:hover{
    color: #497aa0;
    
}
h1{
    font-family: 'halyard-display',sans-serif;
    font-weight: 100;
    font-size: 70px;
    line-height: 1.1em;
}
h2{
    font-weight: 900;
}
h3{
    font-family: 'halyard-display',sans-serif;
    font-weight: 500;
}
p{
    font-weight: 200;
}
#nav-icon{
    width: 200px;
    margin: 0;
}
#nav-icon img{
    width:300px;
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 20vh;
    padding: 20px 10%;
    position: relative;
    z-index: 10
}
footer{
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer-row{
    padding: 40px 10% 20px;
    width: 100%;

}
.footer-logos img{
    width: 300px;
    /* padding: 10px; */
}
.footer-logos{
    padding-bottom: 10px;
}
.footer-row p{
    text-align: center;
    color: #222;
    /* padding: 20px; */
}
.footer-row p a{
    color: #497aa0;
}