.banner{
    position: relative;
}
a{
    color: #497aa0;
}
.banner-img-wrap, .banner-overlay, #intro-row, .banner{
    width:100%;
    height: 70vh;
}
.banner-img-wrap{
    position: absolute;
    background: #9da0a166;
    opacity: 1;
    background-blend-mode: multiply;
    background-image: url("../../img/initiatives.png");
    background-size: cover;
    background-position: 50% 70%;
}
.banner-overlay{
    position: absolute;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);;
    opacity: 1;

}
h1.page-title{
    position: absolute;
    left: 20%;
    top:23vh;
    z-index: 200;
    color: #fff;
    background: #497aa0;
    text-shadow: 0 0 1px #fff;
    border-left: 3px solid #bd4630;
    padding: 0 15px;
    /* font-weight: 500; */
}
.page-row{
    width: 70%;
    margin: auto;
}
.page-row-1{
    position: relative;
    width: 70%;
    margin: auto;
    padding: 50px 5%;
    margin-top: -35vh;
    background: #fff;
    z-index: 100;
    min-height: 35vh;
    padding-bottom: 100px;
}
.init-part{
    margin-bottom: 40px;
}
.init-part p{
    font-size: 20px;
}

.intro p{
    font-size: 24px;
}
.intro li{
    font-size: 24px;
    font-weight: 100;
    list-style: none;
}
.init-part h2{
    color: #bd4630;
    font-weight: 500;
}
.diagram{
    padding: 50px;
    width: 100%;
}

